/*
Flaticon icon font: Flaticon
Creation date: 26/04/2019 08:25
*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
  url("./Flaticon.woff2") format("woff2"),
  url("./Flaticon.woff") format("woff"),
  url("./Flaticon.ttf") format("truetype"),
  url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
    font-display: swap;
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-bag:before {
  content: "\f100";
}

.flaticon-customer-service:before {
  content: "\f101";
}

.flaticon-payment-security:before {
  content: "\f102";
}

.flaticon-heart-box:before {
  content: "\f103";
}

$font-Flaticon-bag: "\f100";
$font-Flaticon-customer-service: "\f101";
$font-Flaticon-payment-security: "\f102";
$font-Flaticon-heart-box: "\f103";